#version=RHEL7

#text install
text
skipx
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --disable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --onboot=yes
firewall --disable
selinux --permissive

# Root password
rootpw vagrant

# System timezone
timezone America/New_York --isUtc

# Create vagrant user
user --groups=wheel --homedir=/home/vagrant --name=vagrant --password=vagrant

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm

# Partition clearing information
clearpart --all
zerombr

reboot --eject
%packages --ignoremissing --excludedocs --nobase
@core
sudo

%end

%post
yum update -y
yum install -y bzip2 gcc kernel-devel kernel-headers

# sudo configs
echo "vagrant  ALL=(ALL)  NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
echo Defaults env_keep += “SSH_AUTH_SOCK” >> /etc/sudoers
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

#SSH Config
sed -i "s/^.*UseDNS yes/UseDNS no/" /etc/ssh/sshd_config

yum clean all

%end
